{% extends 'base.html.twig' %}

{% block title %} News Symfony {% endblock %}

{% block body %}
    <div id="container">
        <h1>Bienvenue sur News Symfony</h1>
        <div>
            <ul id="list">
                <li><a href="/article/service-one">Service 1</a></li>
                <li><a href="/article/service-two">Service 2</a></li>
                <li><a href="/article/service-three">Service 3</a></li>
            </ul>

        </div>
    </div>
{% endblock %}
